.agOther {
    width: 100%;
    height: auto;

    .topBanner {
        height: 30vw;
        overflow: hidden;
        justify-content: center;
        padding-top: 15%;
        margin-top: 1vw;
    }

    .center {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0 6vw;
        box-sizing: border-box;
        
        //各類細項第一層
        .agList {
            width: 100%;
            height: calc(100vh - 164px);

            .pageTitle {
                color: $mainFont_1;
                font-size: 7vw;
                font-weight: bolder;
                text-align: center;
                margin: 7vw 0;
                position: relative;

                &::before {
                    content: "";
                    width: 57px;
                    height: 36px;
                    position: absolute;
                    top: 0;
                    left: 6vw;
                    background-position-x: 0%;
                }
                &::after {
                    content: "";
                    content: "";
                    width: 57px;
                    height: 36px;
                    position: absolute;
                    top: 0vw;
                    right: 6vw;
                    background-position-x: 100%;
                }
            }

            ul {
                width: 100%;
                height: auto;
                box-sizing: border-box;
                padding: 15px 4vw;
                position: relative;

                li {
                    width: auto;
                    height: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $lightBG;
                    border-radius: 5px;
                    margin-bottom: 15px;
                    color: $mainFont_1;
                    font-size: 4vw;
                    font-weight: bold;
                    position: relative;

                    &:active,&.active {
                        color: $mainFont_1;
                    }
                }   
            }

           
        }
    }
    .bottom {
        width: 100%;
        height: 19vw;

        .copyright {
            font-size: 3.5vw;
            font-weight: bold;
            color: $disable;
            text-align: center;
            margin-top: 18vw;
        }
    }   
}

        // //常見問題
        // .agQA {
        //     width: 100%;
        //     height: auto;
        //     display: flex;

        //     .leftArea {
        //         width: 30%;
        //         height: center;
        //         position: relative;
                
        //         ul {
        //             display: table;
        //             border-left: 9px solid $lightBG;
        //             border-radius: 3px;
        //             padding-left: 35px;
        //             margin: 130px 0 0 86px;
        //             position: relative;

        //             li {
        //                 width: auto;
        //                 height: 70px;
        //                 color: $disable;
        //                 font-size: 20px;
        //                 font-weight: bold;
        //                 position: relative;
        //                 cursor: pointer;


        //                 &:hover,&:active,&.active {
        //                     color: $mainFont_1;
                            
        //                     &::before {
        //                         width: 53px;
        //                         height: 53px;
        //                         top: -11px;
        //                         left: -66px;
        //                     }
        //                 }
        //             }
        //             ::before {
        //                 content: "";
        //                 width: 25px;
        //                 height: 25px;
        //                 background: $lightBG;
        //                 border-radius: 40px;
        //                 position: absolute;
        //                 top: -1px;
        //                 left: -52px;
        //             }
                    
        //             ::after {
        //                 content: " ";
        //                 width: 40px;
        //                 height: 40px;
        //                 background-position-x: 50%;
        //                 position: absolute;
        //                 top: -4px;
        //                 left: -58px;
        //             }
        //         }
        //     }
        // }
            
        // //個人情報保護方針
        // .agPersonal {
        //     width: 100%;
        //     height: auto;
        //     padding: 66px 0 114px;
        //     position: relative;

        //     .title {
        //         color: $mainFont_1;
        //         font-size: 36px;
        //         font-weight: bolder;
        //         text-align: center;
        //         margin-bottom: 38px ;
        //         position: relative;
    
        //         &::before {
        //             content: "";
        //             width: 72px;
        //             height: 36px;
        //             position: absolute;
        //             top: 0px;
        //             left: 460px;
        //             background-position-x: 0%;
        //         }
        //         &::after {
        //             content: "";
        //             content: "";
        //             width: 72px;
        //             height: 36px;
        //             position: absolute;
        //             top: 0px;
        //             right: 460px;
        //             background-position-x: 100%;
        //         }
        //     }

        //     .contentBlock {
        //         width: 100%;
        //         height: auto;
        //         margin-bottom: 20px;

        //         .subTitle {
        //             color: $mainFont_1;
        //             font-size: 25px;
        //             font-weight: bolder;
        //             margin-bottom: 25px;
        //         }
                
        //         .info {
        //             color: $mainFont_2;
        //             font-size: 20px;
        //             line-height: 40px;
        //             font-weight: bold;
        //         }
        //     }
        // }
    
