footer {
    width: 100%;
    height: auto;
}

.agentP {
    width: 100%;
    height: auto;
    background: $gameWrapBG;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .agentNav {
        width: 100%;
        height: 90px;
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
        background: $footer_BG2;

        li {
            width: 20vw;
            height: 30vw;
            color: $mainFont_1;
            font-weight: bold;
            padding: 3vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:active,&.active {
                color: $footer_Hover;

                i {
                    background-position-y: 108%;
                }
            }

            .nav_IC {
                width: 10vw;
                height: 11vw;
                display: block;
                margin: 0 1vw;;

                &.home {
                    background-position-x: -3%;
                }
                &.agent {
                    background-position-x: 23%;
                }
                &.rule {
                    background-position-x: 48%;
                }
                &.QA {
                    background-position-x: 74%;
                }
                &.PP {
                    background-position-x: 100%;
                }
            }

            p {
                font-size: 5vw;
                padding-top: 2px;
                width: 90%;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
