header {
    width: 100%;
    height: 50px;
    background: $header_BG_1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

        .content {
            width: 100%;
            height: 45px;
            box-sizing: border-box;
            display: flex;
            padding: 0 2vw;
            box-sizing: border-box;
            align-items: center;
            position: relative;
            
            //語言列
            .lang {
                width: 20vw;
                height: 30px;
                border: 2px solid $mainFont_1;
                border-radius: 5px;
                padding: 0;
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    pointer-events: none;
                }

                &::after {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 6px 0 6px;
                    border-color: $header_langBtn transparent;
                    left: 67px;
                }
                
                select {
                    @include headerLang;
                    padding: 4px 4px 1px 6px;
                    box-sizing: border-box;
                }
            }

            //logo
            .logo {
                margin: 0 auto;
            }

            .loginForm {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                button {
                    width: auto;
                    height: 40px;
                    @include headerBtn_1;
                    margin-right: 10px;

                    &.signupBtn {
                        @include headerBtn_2;
                    }
                }
                //退傭代理註冊按鈕
                .agentSignup {
                    width: 110px;
                    height: 36px;
                    border-radius: 5px;
                }
            }
        }
}